.c-header-root {
    background: $header-background-color;

    ul {
        margin: 0;
        height: 75px;
        display: flex;
        align-items: center;
        list-style-type: none;


        li {
            &:first-child {
                flex: 1;
            }

            a {
                color: #6a7070;
            }
        }
    }
}