.c-quiz--root {
    .quiz-flex-container {
        display: flex;

        &>* {
            flex-basis: 0;
            flex: 1;
        }

        video {
            height: 250px;
        }
    }
}