@import './variables';

@import './components/Header/variables';

@import './components/Accordion/nonvariables';
@import './components/Dropdown/nonvariables';
@import './components/Header/nonvariables';
@import './components/Quiz/nonvariables';
@import './components/QuizForm/nonvariables';
@import './components/QuizResults/nonvariables';
@import './components/QuizTitle/nonvariables';
@import './components/QuizDescription/nonvariables';
@import './components/TextWithInlineHeader/nonvariables';

body {
    margin: 0;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.justify-flex-end {
    display: flex;
    justify-content: flex-end;
}
